body {

	width: 100%;
	margin: 0px;
	font-family: Verdana, Geneva, sans-serif;
}

.color-scheme  {
	background-color: #FFD174;
	color: #A76F00;

	padding: 5px;
	height: 25px;
	line-height: 25px;
	margin: 0px 0px 10px 0px;

}
#header {	
	display: block;
	
}

#nav {
	
	display: block;
}
#dropdown {
	width: 180px;
	height: 180px;
	margin: 0px 0px 0px 45px;
	padding: 2px;
	overflow: auto;
	position: relative;
	z-index:8;
	background-color: #FFD174 !important;
	color: #A76F00 !important;
}
ul#dropdown {
	position: relative;
}
li#dropdown {
	display: inline;
	float: left;
	position: relative;
}
ul#dropdown li:hover {
	background-color: #FFD144;
}

ul#dropdown li:hover > ul {
	visibility: visible;
	opacity: 1;
}

#section {
display: block;
height: auto;
}

#lakes {
	margin: 10px 0px 10px 0px;
}

#footer {
	margin: 0px !important;
	display: block;

}
#wrapper {
	margin: 0px 0px 10px 0px;
	display: block;

}