body {

	width: 100%;
	margin: 0px;
	font-family: Verdana, Geneva, sans-serif;
}

.color-scheme  {
	background-color: #FFD174;
	color: #A76F00;

	padding: 5px;
	height: 25px;
	line-height: 25px;
	margin: 0px 0px 10px 0px;

	<!--border: 1px solid BLACK;-->
}
#header {	
	display: block;
	
}

#nav {

	display: block;
}

#section {
display: block;
height: auto;
}

#lakes {
	margin: 10px 0px 10px 0px;
}

#footer {
	margin: 0px !important;
	display: block;

}
#wrapper {
	margin: 0px 0px 10px 0px;
	display: block;

}